/* header section design  */
* {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    width: 11.25rem;
    height: 4rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.deco {
    text-decoration: none;
    color: #424242;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    max-height: 1300px;
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    justify-content: center;
    list-style: none;
    margin-right: 30px;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

nav>h3 {
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}


/* banner section design  */
.banner {
    margin-top: 100px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0;
}

.banner img {
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
}

/* main section design  */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.feature {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 50px 0px;
    margin-right: 50px;
    margin-left: 200px;
}

.feature-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.feature-content {
    padding-left: 50px;
    padding-right: 50px;
}

.feature-content>h2 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.our {
    color: #131313;
}

.feature-content>p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 3rem;
}

/* fact section  */
.fact{
    margin: 20px 140px;
}
.fact-content>h2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.fact-content>p{
    margin-right: 600px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem; /* 162.5% */
    margin-bottom: 80px;
}

.fact-cart{
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;  
}
.fact-cart .cart {
    border-radius: 8px;
    border: 1px solid #FF900E;
    background: #FFF;
    text-align: center;
    padding: 40px 30px;
}





/* for mobile phone user  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .feature {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .feature {
        margin: 10px;
    }

    .feature-section {
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 0px;
    }
    .fact{
        margin: 10px 20px;
    }
    .fact-content>p{
        margin-right: 0px;
        color: #727272;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem; /* 162.5% */
        margin-bottom: 10px;
    }
    .fact-cart{
        flex-direction: row;
        margin: 0px;
        gap: 10px; 
        align-items: center;
    }
}